<a href="https://colab.research.google.com/github/Varshithdevasani/CVIP-Data-Science/blob/main/IMDB_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('imdb_top_1000.csv')

In [ ]:
df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"2,83,41,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"13,49,66,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"53,48,58,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"5,73,00,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"43,60,000"

In [ ]:
df.tail()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"3,05,00,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [ ]:
df.shape

(1000, 16)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [ ]:
df.describe(include='all')

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
count,1000,1000,1000,899,1000,1000,1000.000000,1000,843.000000,1000,1000,1000,1000,1000,1.000000e+03,831
unique,1000,999,100,16,140,202,NaN,1000,NaN,548,660,841,891,939,NaN,823
top,https://m.media-amazon.com/images/M/MV5BMDFkYT...,Drishyam,2014,U,100 min,Drama,NaN,Two imprisoned men bond over a number of years...,NaN,Alfred Hitchcock,Tom Hanks,Emma Watson,Rupert Grint,Michael Caine,NaN,"43,60,000"
freq,1,2,32,234,23,85,NaN,1,NaN,14,12,7,5,4,NaN,5
mean,NaN,NaN,NaN,NaN,NaN,NaN,7.949300,NaN,77.971530,NaN,NaN,NaN,NaN,NaN,2.736929e+05,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,0.275491,NaN,12.376099,NaN,NaN,NaN,NaN,NaN,3.273727e+05,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,7.600000,NaN,28.000000,NaN,NaN,NaN,NaN,NaN,2.508800e+04,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,7.700000,NaN,70.000000,NaN,NaN,NaN,NaN,NaN,5.552625e+04,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,7.900000,NaN,79.000000,NaN,NaN,NaN,NaN,NaN,1.385485e+05,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,8.100000,NaN,87.000000,NaN,NaN,NaN,NaN,NaN,3.741612e+05,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,9.300000,NaN,100.000000,NaN,NaN,NaN,NaN,NaN,2.343110e+06,NaN

In [ ]:
df.isna()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
998,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True
999,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True

In [ ]:
df.isna().sum()

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [ ]:
df=df.dropna(axis=0)

In [ ]:
df=df.dropna(axis=1)

In [ ]:
df.isna().sum()

Poster_Link      0
Series_Title     0
Released_Year    0
Certificate      0
Runtime          0
Genre            0
IMDB_Rating      0
Overview         0
Meta_score       0
Director         0
Star1            0
Star2            0
Star3            0
Star4            0
No_of_Votes      0
Gross            0
dtype: int64

In [ ]:
dup_df=df.duplicated().any()
print("contains duplicate values",dup_df)

contains duplicate values False

In [ ]:
df

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"2,83,41,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"13,49,66,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"53,48,58,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"5,73,00,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"43,60,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,https://m.media-amazon.com/images/M/MV5BYjRmY2...,Giù la testa,1971,PG,157 min,"Drama, War, Western",7.6,A low-life bandit and an I.R.A. explosives exp...,77.0,Sergio Leone,Rod Steiger,James Coburn,Romolo Valli,Maria Monti,30144,"6,96,690"
991,https://m.media-amazon.com/images/M/MV5BMzAyND...,Kelly's Heroes,1970,GP,144 min,"Adventure, Comedy, War",7.6,A group of U.S. soldiers sneaks across enemy l...,50.0,Brian G. Hutton,Clint Eastwood,Telly Savalas,Don Rickles,Carroll O'Connor,45338,"13,78,435"
992,https://m.media-amazon.com/images/M/MV5BMjAwMT...,The Jungle Book,1967,U,78 min,"Animation, Adventure, Family",7.6,Bagheera the Panther and Baloo the Bear have a...,65.0,Wolfgang Reitherman,Phil Harris,Sebastian Cabot,Louis Prima,Bruce Reitherman,166409,"14,18,43,612"
994,https://m.media-amazon.com/images/M/MV5BZjQyMG...,A Hard Day's Night,1964,U,87 min,"Comedy, Music, Musical",7.6,"Over two ""typical"" days in the life of The Bea...",96.0,Richard Lester,John Lennon,Paul McCartney,George Harrison,Ringo Starr,40351,"1,37,80,024"
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"3,05,00,000"

In [ ]:
df.columns

Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [ ]:
df['Released_Year'].value_counts()

2014    28
2004    27
2001    24
2009    23
2013    22
        ..
1941     1
1931     1
1936     1
1942     1
1953     1
Name: Released_Year, Length: 83, dtype: int64

In [ ]:
df.groupby('Released_Year')['IMDB_Rating'].mean()

Released_Year
1930    8.000000
1931    8.500000
1933    7.900000
1934    8.100000
1936    8.500000
          ...
2016    7.905000
2017    7.827778
2018    7.950000
2019    8.026667
PG      7.600000
Name: IMDB_Rating, Length: 83, dtype: float64

In [ ]:
df[df['IMDB_Rating']>=9]['Series_Title']

0    The Shawshank Redemption
1               The Godfather
2             The Dark Knight
3      The Godfather: Part II
4                12 Angry Men
Name: Series_Title, dtype: object

In [ ]:
df.groupby('Director')['IMDB_Rating'].mean().sort_values(ascending=False)

Director
Frank Darabont      8.95
Lana Wachowski      8.70
Irvin Kershner      8.70
George Lucas        8.60
Roberto Benigni     8.60
                    ...
Matt Reeves         7.60
John Lee Hancock    7.60
Tony Bancroft       7.60
Alex Proyas         7.60
Ronny Yu            7.60
Name: IMDB_Rating, Length: 402, dtype: float64

In [ ]:
df[df['Gross'].max()==df['Gross']]

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
529,https://m.media-amazon.com/images/M/MV5BMzIwM2...,Brazil,1985,U,132 min,"Drama, Sci-Fi",7.9,A bureaucrat in a dystopic society becomes an ...,84.0,Terry Gilliam,Jonathan Pryce,Kim Greist,Robert De Niro,Katherine Helmond,187567,"99,29,135"

In [ ]:
df.nlargest(10,'Meta_score')['Series_Title']

1              The Godfather
50                Casablanca
81               Rear Window
116       Lawrence of Arabia
119                  Vertigo
124             Citizen Kane
260    Trois couleurs: Rouge
274      Fanny och Alexander
423           Il conformista
491                  Boyhood
Name: Series_Title, dtype: object

In [ ]:
df['Meta_score'].max()

100.0

In [ ]:
top_len=df.nlargest(10,'IMDB_Rating')[['Series_Title','IMDB_Rating']]

In [ ]:
top_len

                                    Series_Title  IMDB_Rating
0                       The Shawshank Redemption          9.3
1                                  The Godfather          9.2
2                                The Dark Knight          9.0
3                         The Godfather: Part II          9.0
4                                   12 Angry Men          9.0
5  The Lord of the Rings: The Return of the King          8.9
6                                   Pulp Fiction          8.9
7                               Schindler's List          8.9
8                                      Inception          8.8
9                                     Fight Club          8.8

In [ ]:
def rating(rating):
  if rating>=9:
    return "Excellent"
  elif rating>=8:
      return "Good"
  else:
      return "Average"

In [ ]:
df['Rating']=df['IMDB_Rating'].apply(rating)

In [ ]:
df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross,Rating
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"2,83,41,469",Excellent
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"13,49,66,411",Excellent
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"53,48,58,444",Excellent
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"5,73,00,000",Excellent
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"43,60,000",Excellent

In [ ]:
df['Rating'].value_counts()

Average      412
Good         297
Excellent      5
Name: Rating, dtype: int64

In [ ]:
df[df['Runtime'].str.contains('120')]['Series_Title']

223       Mad Max: Fury Road
268                  Platoon
279                    Rocky
354      Slumdog Millionaire
403       Do the Right Thing
507               Ying xiong
645          Wo hu cang long
748       The Social Network
753                     Argo
765         Efter brylluppet
792           Das Experiment
834              Blue Velvet
858    A Man for All Seasons
911       La piel que habito
970          My Cousin Vinny
Name: Series_Title, dtype: object

In [ ]:
df['Genre']

0                             Drama
1                      Crime, Drama
2              Action, Crime, Drama
3                      Crime, Drama
4                      Crime, Drama
                   ...
990             Drama, War, Western
991          Adventure, Comedy, War
992    Animation, Adventure, Family
994          Comedy, Music, Musical
997             Drama, Romance, War
Name: Genre, Length: 714, dtype: object

In [ ]:
df[df['Genre'].str.contains('Comedy')]['Series_Title']

19                     Gisaengchung
26                  La vita è bella
35                 The Intouchables
47               Back to the Future
51                     Modern Times
                   ...
978    Planes, Trains & Automobiles
984                The Muppet Movie
989                The Long Goodbye
991                  Kelly's Heroes
994              A Hard Day's Night
Name: Series_Title, Length: 161, dtype: object

In [ ]:
df['Certificate']

0           A
1           A
2          UA
3           A
4           U
        ...
990        PG
991        GP
992         U
994         U
997    Passed
Name: Certificate, Length: 714, dtype: object

In [ ]:
list1=[]
for value in df['Certificate']:
  list1.append(value.split(','))

In [ ]:
list1

[['A'],
 ['A'],
 ['UA'],
 ['A'],
 ['U'],
 ['U'],
 ['A'],
 ['A'],
 ['UA'],
 ['A'],
 ['U'],
 ['UA'],
 ['A'],
 ['UA'],
 ['A'],
 ['A'],
 ['UA'],
 ['A'],
 ['A'],
 ['UA'],
 ['A'],
 ['U'],
 ['R'],
 ['A'],
 ['U'],
 ['A'],
 ['A'],
 ['UA'],
 ['U'],
 ['A'],
 ['A'],
 ['UA'],
 ['U'],
 ['A'],
 ['R'],
 ['UA'],
 ['R'],
 ['A'],
 ['A'],
 ['U'],
 ['U'],
 ['U'],
 ['U'],
 ['U'],
 ['A'],
 ['U'],
 ['G'],
 ['G'],
 ['A'],
 ['U'],
 ['U'],
 ['UA'],
 ['UA'],
 ['U'],
 ['A'],
 ['UA'],
 ['UA'],
 ['U'],
 ['A'],
 ['A'],
 ['UA'],
 ['U'],
 ['A'],
 ['A'],
 ['R'],
 ['R'],
 ['A'],
 ['U'],
 ['R'],
 ['R'],
 ['PG-13'],
 ['R'],
 ['A'],
 ['UA'],
 ['U'],
 ['UA'],
 ['A'],
 ['UA'],
 ['U'],
 ['PG'],
 ['U'],
 ['A'],
 ['R'],
 ['UA'],
 ['U'],
 ['R'],
 ['A'],
 ['U'],
 ['R'],
 ['A'],
 ['U'],
 ['A'],
 ['U'],
 ['U'],
 ['U'],
 ['U'],
 ['U'],
 ['A'],
 ['G'],
 ['Passed'],
 ['UA'],
 ['UA'],
 ['A'],
 ['R'],
 ['UA'],
 ['A'],
 ['U'],
 ['A'],
 ['U'],
 ['A'],
 ['UA'],
 ['U'],
 ['A'],
 ['UA'],
 ['R'],
 ['U'],
 ['UA'],
 ['A'],
 ['A'],
 ['A'],
 ['A'],
 ['A'],
 ['U'],
 ['U'],
 ['A'],
 ['U'],
 ['A'],
 ['PG'],
 ['U'],
 ['U'],
 ['A'],
 ['Passed'],
 ['Passed'],
 ['R'],
 ['A'],
 ['R'],
 ['A'],
 ['R'],
 ['R'],
 ['UA'],
 ['A'],
 ['A'],
 ['U'],
 ['A'],
 ['UA'],
 ['UA'],
 ['A'],
 ['PG'],
 ['A'],
 ['UA'],
 ['R'],
 ['UA'],
 ['PG-13'],
 ['U'],
 ['R'],
 ['R'],
 ['UA'],
 ['PG-13'],
 ['R'],
 ['R'],
 ['UA'],
 ['R'],
 ['U'],
 ['A'],
 ['A'],
 ['U'],
 ['U'],
 ['A'],
 ['U'],
 ['U'],
 ['R'],
 ['R'],
 ['U'],
 ['A'],
 ['A'],
 ['R'],
 ['U'],
 ['U'],
 ['UA'],
 ['UA'],
 ['U'],
 ['U'],
 ['A'],
 ['U'],
 ['U'],
 ['A'],
 ['UA'],
 ['A'],
 ['UA'],
 ['R'],
 ['A'],
 ['U'],
 ['UA'],
 ['U'],
 ['A'],
 ['Passed'],
 ['U'],
 ['PG'],
 ['A'],
 ['Approved'],
 ['Approved'],
 ['Approved'],
 ['Passed'],
 ['U'],
 ['Approved'],
 ['A'],
 ['U'],
 ['UA'],
 ['U'],
 ['U'],
 ['U'],
 ['UA'],
 ['R'],
 ['A'],
 ['UA'],
 ['UA'],
 ['UA'],
 ['A'],
 ['UA'],
 ['A'],
 ['UA'],
 ['U'],
 ['UA'],
 ['R'],
 ['TV-PG'],
 ['UA'],
 ['UA'],
 ['A'],
 ['R'],
 ['UA'],
 ['PG-13'],
 ['R'],
 ['U'],
 ['A'],
 ['UA'],
 ['U'],
 ['A'],
 ['PG-13'],
 ['U'],
 ['PG-13'],
 ['A'],
 ['R'],
 ['U'],
 ['UA'],
 ['U'],
 ['UA'],
 ['UA'],
 ['U'],
 ['U'],
 ['R'],
 ['R'],
 ['R'],
 ['U'],
 ['U'],
 ['R'],
 ['R'],
 ['PG'],
 ['R'],
 ['U'],
 ['A'],
 ['UA'],
 ['U'],
 ['U'],
 ['R'],
 ['UA'],
 ['U'],
 ['UA'],
 ['G'],
 ['U'],
 ['R'],
 ['U'],
 ['U'],
 ['U'],
 ['U'],
 ['UA'],
 ['U'],
 ['PG'],
 ['A'],
 ['A'],
 ['U'],
 ['A'],
 ['R'],
 ['A'],
 ['R'],
 ['G'],
 ['UA'],
 ['PG'],
 ['U'],
 ['A'],
 ['U'],
 ['A'],
 ['A'],
 ['A'],
 ['A'],
 ['Passed'],
 ['PG-13'],
 ['A'],
 ['A'],
 ['Approved'],
 ['Passed'],
 ['U'],
 ['U'],
 ['UA'],
 ['A'],
 ['U'],
 ['UA'],
 ['UA'],
 ['U'],
 ['UA'],
 ['R'],
 ['PG-13'],
 ['UA'],
 ['A'],
 ['UA'],
 ['UA'],
 ['U'],
 ['R'],
 ['UA'],
 ['U'],
 ['UA'],
 ['UA'],
 ['R'],
 ['A'],
 ['R'],
 ['R'],
 ['A'],
 ['UA'],
 ['A'],
 ['UA'],
 ['R'],
 ['UA'],
 ['R'],
 ['U'],
 ['PG'],
 ['PG-13'],
 ['UA'],
 ['UA'],
 ['A'],
 ['U'],
 ['PG-13'],
 ['R'],
 ['R'],
 ['U'],
 ['UA'],
 ['R'],
 ['A'],
 ['A'],
 ['R'],
 ['U'],
 ['R'],
 ['A'],
 ['R'],
 ['U'],
 ['A'],
 ['U'],
 ['U'],
 ['PG-13'],
 ['A'],
 ['PG-13'],
 ['U'],
 ['R'],
 ['U'],
 ['U'],
 ['R'],
 ['A'],
 ['A'],
 ['U'],
 ['R'],
 ['PG'],
 ['U'],
 ['A'],
 ['U'],
 ['U'],
 ['A'],
 ['PG'],
 ['A'],
 ['U'],
 ['PG'],
 ['Passed'],
 ['UA'],
 ['UA'],
 ['UA'],
 ['U'],
 ['PG'],
 ['UA'],
 ['R'],
 ['UA'],
 ['UA'],
 ['A'],
 ['U'],
 ['UA'],
 ['PG-13'],
 ['U'],
 ['U'],
 ['R'],
 ['PG-13'],
 ['U'],
 ['R'],
 ['A'],
 ['U'],
 ['A'],
 ['R'],
 ['UA'],
 ['R'],
 ['R'],
 ['UA'],
 ['UA'],
 ['R'],
 ['UA'],
 ['A'],
 ['PG-13'],
 ['R'],
 ['UA'],
 ['R'],
 ['A'],
 ['A'],
 ['UA'],
 ['R'],
 ['A'],
 ['UA'],
 ['UA'],
 ['UA'],
 ['U'],
 ['R'],
 ['PG'],
 ['U'],
 ['UA'],
 ['PG-13'],
 ['PG-13'],
 ['A'],
 ['U'],
 ['R'],
 ['PG-13'],
 ['PG-13'],
 ['R'],
 ['U'],
 ['UA'],
 ['R'],
 ['UA'],
 ['R'],
 ['UA'],
 ['PG'],
 ['U'],
 ['UA'],
 ['UA'],
 ['UA'],
 ['R'],
 ['U'],
 ['U'],
 ['R'],
 ['U'],
 ['U'],
 ['U'],
 ['R'],
 ['R'],
 ['R'],
 ['A'],
 ['R'],
 ['U'],
 ['R'],
 ['U'],
 ['A'],
 ['A'],
 ['A'],
 ['U'],
 ['R'],
 ['U'],
 ['U'],
 ['UA'],
 ['UA'],
 ['UA'],
 ['PG'],
 ['U'],
 ['U'],
 ['A'],
 ['A'],
 ['U'],
 ['U'],
 ['A'],
 ['A'],
 ['U'],
 ['A'],
 ['U'],
 ['U'],
 ['G'],
 ['A'],
 ['R'],
 ['R'],
 ['R'],
 ['UA'],
 ['PG-13'],
 ['R'],
 ['U'],
 ['U'],
 ['A'],
 ['UA'],
 ['PG-13'],
 ['A'],
 ['A'],
 ['U'],
 ['UA'],
 ['UA'],
 ['U'],
 ['PG'],
 ['PG-13'],
 ['U'],
 ['UA'],
 ['UA'],
 ['UA'],
 ['UA'],
 ['UA'],
 ['UA'],
 ['A'],
 ['A'],
 ['UA'],
 ['A'],
 ['U'],
 ['R'],
 ['U'],
 ['R'],
 ['PG'],
 ['UA'],
 ['R'],
 ['R'],
 ['UA'],
 ['R'],
 ['PG-13'],
 ['R'],
 ['U'],
 ['R'],
 ['A'],
 ['A'],
 ['UA'],
 ['UA'],
 ['A'],
 ['R'],
 ['A'],
 ['UA'],
 ['UA'],
 ['UA'],
 ['U'],
 ['UA'],
 ['R'],
 ['R'],
 ['PG-13'],
 ['PG-13'],
 ['R'],
 ['A'],
 ['A'],
 ['R'],
 ['R'],
 ['R'],
 ['UA'],
 ['U'],
 ['U'],
 ['A'],
 ['R'],
 ['A'],
 ['UA'],
 ['R'],
 ['A'],
 ['UA'],
 ['PG-13'],
 ['A'],
 ['U'],
 ['A'],
 ['U'],
 ['U'],
 ['R'],
 ['R'],
 ['UA'],
 ['G'],
 ['U'],
 ['UA'],
 ['R'],
 ['U'],
 ['PG-13'],
 ['U'],
 ['R'],
 ['U'],
 ['R'],
 ['U'],
 ['U'],
 ['R'],
 ['A'],
 ['U'],
 ['UA'],
 ['U'],
 ['U'],
 ['A'],
 ['U'],
 ['U'],
 ['A'],
 ['R'],
 ['A'],
 ['A'],
 ['A'],
 ['U'],
 ['A'],
 ['A'],
 ['G'],
 ['U'],
 ['A'],
 ['A'],
 ['Approved'],
 ['PG'],
 ['G'],
 ['U/A'],
 ['A'],
 ['R'],
 ['A'],
 ['PG-13'],
 ['PG-13'],
 ['PG-13'],
 ['UA'],
 ['UA'],
 ['UA'],
 ['UA'],
 ['UA'],
 ['U'],
 ['A'],
 ['A'],
 ['R'],
 ['R'],
 ['PG-13'],
 ['UA'],
 ['A'],
 ['A'],
 ['U'],
 ['UA'],
 ['PG-13'],
 ['R'],
 ['U'],
 ['R'],
 ['UA'],
 ['PG-13'],
 ['R'],
 ['A'],
 ['PG-13'],
 ['UA'],
 ['PG-13'],
 ['UA'],
 ['R'],
 ['U'],
 ['R'],
 ['R'],
 ['PG-13'],
 ['PG-13'],
 ['U'],
 ['UA'],
 ['A'],
 ['R'],
 ['A'],
 ['R'],
 ['UA'],
 ['R'],
 ['R'],
 ['R'],
 ['U'],
 ['R'],
 ['UA'],
 ['R'],
 ['U'],
 ['R'],
 ['U'],
 ['A'],
 ['A'],
 ['A'],
 ['U'],
 ['PG-13'],
 ['R'],
 ['A'],
 ['A'],
 ['R'],
 ['A'],
 ['UA'],
 ['A'],
 ['U'],
 ['R'],
 ['A'],
 ['UA'],
 ['A'],
 ['U'],
 ['A'],
 ['R'],
 ['A'],
 ['U'],
 ['U'],
 ['R'],
 ['U'],
 ['UA'],
 ['U'],
 ['R'],
 ['U'],
 ['A'],
 ['UA'],
 ['U'],
 ['U'],
 ['U'],
 ['A'],
 ['A'],
 ['UA'],
 ['A'],
 ['UA'],
 ['U'],
 ['A'],
 ['A'],
 ['U'],
 ['A'],
 ['PG'],
 ['GP'],
 ['U'],
 ['U'],
 ['Passed']]

In [ ]:
one_d=[]
for item in list1:
  for item1 in item:
    one_d.append(item1)

In [ ]:
one_d

['A',
 'A',
 'UA',
 'A',
 'U',
 'U',
 'A',
 'A',
 'UA',
 'A',
 'U',
 'UA',
 'A',
 'UA',
 'A',
 'A',
 'UA',
 'A',
 'A',
 'UA',
 'A',
 'U',
 'R',
 'A',
 'U',
 'A',
 'A',
 'UA',
 'U',
 'A',
 'A',
 'UA',
 'U',
 'A',
 'R',
 'UA',
 'R',
 'A',
 'A',
 'U',
 'U',
 'U',
 'U',
 'U',
 'A',
 'U',
 'G',
 'G',
 'A',
 'U',
 'U',
 'UA',
 'UA',
 'U',
 'A',
 'UA',
 'UA',
 'U',
 'A',
 'A',
 'UA',
 'U',
 'A',
 'A',
 'R',
 'R',
 'A',
 'U',
 'R',
 'R',
 'PG-13',
 'R',
 'A',
 'UA',
 'U',
 'UA',
 'A',
 'UA',
 'U',
 'PG',
 'U',
 'A',
 'R',
 'UA',
 'U',
 'R',
 'A',
 'U',
 'R',
 'A',
 'U',
 'A',
 'U',
 'U',
 'U',
 'U',
 'U',
 'A',
 'G',
 'Passed',
 'UA',
 'UA',
 'A',
 'R',
 'UA',
 'A',
 'U',
 'A',
 'U',
 'A',
 'UA',
 'U',
 'A',
 'UA',
 'R',
 'U',
 'UA',
 'A',
 'A',
 'A',
 'A',
 'A',
 'U',
 'U',
 'A',
 'U',
 'A',
 'PG',
 'U',
 'U',
 'A',
 'Passed',
 'Passed',
 'R',
 'A',
 'R',
 'A',
 'R',
 'R',
 'UA',
 'A',
 'A',
 'U',
 'A',
 'UA',
 'UA',
 'A',
 'PG',
 'A',
 'UA',
 'R',
 'UA',
 'PG-13',
 'U',
 'R',
 'R',
 'UA',
 'PG-13',
 'R',
 'R',
 'UA',
 'R',
 'U',
 'A',
 'A',
 'U',
 'U',
 'A',
 'U',
 'U',
 'R',
 'R',
 'U',
 'A',
 'A',
 'R',
 'U',
 'U',
 'UA',
 'UA',
 'U',
 'U',
 'A',
 'U',
 'U',
 'A',
 'UA',
 'A',
 'UA',
 'R',
 'A',
 'U',
 'UA',
 'U',
 'A',
 'Passed',
 'U',
 'PG',
 'A',
 'Approved',
 'Approved',
 'Approved',
 'Passed',
 'U',
 'Approved',
 'A',
 'U',
 'UA',
 'U',
 'U',
 'U',
 'UA',
 'R',
 'A',
 'UA',
 'UA',
 'UA',
 'A',
 'UA',
 'A',
 'UA',
 'U',
 'UA',
 'R',
 'TV-PG',
 'UA',
 'UA',
 'A',
 'R',
 'UA',
 'PG-13',
 'R',
 'U',
 'A',
 'UA',
 'U',
 'A',
 'PG-13',
 'U',
 'PG-13',
 'A',
 'R',
 'U',
 'UA',
 'U',
 'UA',
 'UA',
 'U',
 'U',
 'R',
 'R',
 'R',
 'U',
 'U',
 'R',
 'R',
 'PG',
 'R',
 'U',
 'A',
 'UA',
 'U',
 'U',
 'R',
 'UA',
 'U',
 'UA',
 'G',
 'U',
 'R',
 'U',
 'U',
 'U',
 'U',
 'UA',
 'U',
 'PG',
 'A',
 'A',
 'U',
 'A',
 'R',
 'A',
 'R',
 'G',
 'UA',
 'PG',
 'U',
 'A',
 'U',
 'A',
 'A',
 'A',
 'A',
 'Passed',
 'PG-13',
 'A',
 'A',
 'Approved',
 'Passed',
 'U',
 'U',
 'UA',
 'A',
 'U',
 'UA',
 'UA',
 'U',
 'UA',
 'R',
 'PG-13',
 'UA',
 'A',
 'UA',
 'UA',
 'U',
 'R',
 'UA',
 'U',
 'UA',
 'UA',
 'R',
 'A',
 'R',
 'R',
 'A',
 'UA',
 'A',
 'UA',
 'R',
 'UA',
 'R',
 'U',
 'PG',
 'PG-13',
 'UA',
 'UA',
 'A',
 'U',
 'PG-13',
 'R',
 'R',
 'U',
 'UA',
 'R',
 'A',
 'A',
 'R',
 'U',
 'R',
 'A',
 'R',
 'U',
 'A',
 'U',
 'U',
 'PG-13',
 'A',
 'PG-13',
 'U',
 'R',
 'U',
 'U',
 'R',
 'A',
 'A',
 'U',
 'R',
 'PG',
 'U',
 'A',
 'U',
 'U',
 'A',
 'PG',
 'A',
 'U',
 'PG',
 'Passed',
 'UA',
 'UA',
 'UA',
 'U',
 'PG',
 'UA',
 'R',
 'UA',
 'UA',
 'A',
 'U',
 'UA',
 'PG-13',
 'U',
 'U',
 'R',
 'PG-13',
 'U',
 'R',
 'A',
 'U',
 'A',
 'R',
 'UA',
 'R',
 'R',
 'UA',
 'UA',
 'R',
 'UA',
 'A',
 'PG-13',
 'R',
 'UA',
 'R',
 'A',
 'A',
 'UA',
 'R',
 'A',
 'UA',
 'UA',
 'UA',
 'U',
 'R',
 'PG',
 'U',
 'UA',
 'PG-13',
 'PG-13',
 'A',
 'U',
 'R',
 'PG-13',
 'PG-13',
 'R',
 'U',
 'UA',
 'R',
 'UA',
 'R',
 'UA',
 'PG',
 'U',
 'UA',
 'UA',
 'UA',
 'R',
 'U',
 'U',
 'R',
 'U',
 'U',
 'U',
 'R',
 'R',
 'R',
 'A',
 'R',
 'U',
 'R',
 'U',
 'A',
 'A',
 'A',
 'U',
 'R',
 'U',
 'U',
 'UA',
 'UA',
 'UA',
 'PG',
 'U',
 'U',
 'A',
 'A',
 'U',
 'U',
 'A',
 'A',
 'U',
 'A',
 'U',
 'U',
 'G',
 'A',
 'R',
 'R',
 'R',
 'UA',
 'PG-13',
 'R',
 'U',
 'U',
 'A',
 'UA',
 'PG-13',
 'A',
 'A',
 'U',
 'UA',
 'UA',
 'U',
 'PG',
 'PG-13',
 'U',
 'UA',
 'UA',
 'UA',
 'UA',
 'UA',
 'UA',
 'A',
 'A',
 'UA',
 'A',
 'U',
 'R',
 'U',
 'R',
 'PG',
 'UA',
 'R',
 'R',
 'UA',
 'R',
 'PG-13',
 'R',
 'U',
 'R',
 'A',
 'A',
 'UA',
 'UA',
 'A',
 'R',
 'A',
 'UA',
 'UA',
 'UA',
 'U',
 'UA',
 'R',
 'R',
 'PG-13',
 'PG-13',
 'R',
 'A',
 'A',
 'R',
 'R',
 'R',
 'UA',
 'U',
 'U',
 'A',
 'R',
 'A',
 'UA',
 'R',
 'A',
 'UA',
 'PG-13',
 'A',
 'U',
 'A',
 'U',
 'U',
 'R',
 'R',
 'UA',
 'G',
 'U',
 'UA',
 'R',
 'U',
 'PG-13',
 'U',
 'R',
 'U',
 'R',
 'U',
 'U',
 'R',
 'A',
 'U',
 'UA',
 'U',
 'U',
 'A',
 'U',
 'U',
 'A',
 'R',
 'A',
 'A',
 'A',
 'U',
 'A',
 'A',
 'G',
 'U',
 'A',
 'A',
 'Approved',
 'PG',
 'G',
 'U/A',
 'A',
 'R',
 'A',
 'PG-13',
 'PG-13',
 'PG-13',
 'UA',
 'UA',
 'UA',
 'UA',
 'UA',
 'U',
 'A',
 'A',
 'R',
 'R',
 'PG-13',
 'UA',
 'A',
 'A',
 'U',
 'UA',
 'PG-13',
 'R',
 'U',
 'R',
 'UA',
 'PG-13',
 'R',
 'A',
 'PG-13',
 'UA',
 'PG-13',
 'UA',
 'R',
 'U',
 'R',
 'R',
 'PG-13',
 'PG-13',
 'U',
 'UA',
 'A',
 'R',
 'A',
 'R',
 'UA',
 'R',
 'R',
 'R',
 'U',
 'R',
 'UA',
 'R',
 'U',
 'R',
 'U',
 'A',
 'A',
 'A',
 'U',
 'PG-13',
 'R',
 'A',
 'A',
 'R',
 'A',
 'UA',
 'A',
 'U',
 'R',
 'A',
 'UA',
 'A',
 'U',
 'A',
 'R',
 'A',
 'U',
 'U',
 'R',
 'U',
 'UA',
 'U',
 'R',
 'U',
 'A',
 'UA',
 'U',
 'U',
 'U',
 'A',
 'A',
 'UA',
 'A',
 'UA',
 'U',
 'A',
 'A',
 'U',
 'A',
 'PG',
 'GP',
 'U',
 'U',
 'Passed']

In [ ]:
from collections import Counter as count

In [ ]:
count(one_d)

Counter({'A': 174,
         'UA': 142,
         'U': 183,
         'R': 131,
         'G': 9,
         'PG-13': 38,
         'PG': 19,
         'Passed': 9,
         'Approved': 6,
         'TV-PG': 1,
         'U/A': 1,
         'GP': 1})